<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ventures.g45.kebunsehati.surveyor">

    <uses-permission android:name="android.permission.PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".KebunSehati"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >
        <activity
            android:name=".DaftarMember"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaftarTitip"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PetaAnggota"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".TitipJual"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".RegisterMember"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SearchingResult"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserAccount"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Detail_invoice"
            />
        <activity
            android:name=".Daftar_invoice"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailOrder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaftarOrderan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InformasiPembayaran"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checkout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Order"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Checkin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DaftarAnggkringan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChangeAddress"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Angkringan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignIn"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>